* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #6B7898;
}

header {
    background-color: #263064;
    display: flex;
}

.bar {
    display: flex;
}

#logo {
    margin-left: auto;
    margin-right: 50px;
}

.menu img:hover {
    filter: hue-rotate(50deg);
    cursor: pointer;
}

/* -------- Banner Styles -------- */

#banner-box {
    background-color: #5777C8;
    background-image: url("/img/banner-01.png");
    background-origin: content-box; 
    background-attachment: fixed;
    background-size: 1918px 342px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner-item {
    width: 85%;
}
#banner-img-frame {
   text-align: center;
}

#banner-img-frame img {
    width: 280px;
}
#banner-img-frame img:hover {
   filter: hue-rotate(50deg);
}



/* -------- Intro Box Styles -------- */

#intro-box {
    background-image: url(/img/baybridgebg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0 9%;
}

.intro-png {
    margin-right: 7%;
}

#intro-top {
    display: none;
}
#intro-box .info {
    width: 500px;
}

#name {
    font-size: 1.4em;
    margin-bottom: 1.3em;
    border-radius: 12px;
    background-color: #636DD7;
    padding: 6px;
    opacity: 90%;
}

#name p {
    text-align: center;
}
.intro-img {
    text-align: center;
}

.intro-img img {
    width: 240px;
}

#location{
    text-align: center;
    font-size: 20px;
    background-color: #AAD8DC;
    border-radius: 9px;
    width: 75%;
    margin: 0 auto;
}

#special {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #141A62;
    color: #CDD2FF;
    margin: auto 0;
    margin-left: 10%;
    padding: 30px;
    border-radius: 12px;
    opacity: 90%;
}

#special p {
    font-size: 1.2rem;
    margin-bottom: 18px;
}







/* -------- About Me Styles -------- */
#about-box {
    background-color: #74E3EB;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.about-header {
    text-align: center;
}
.about-header img {
    width: 300px;
}

.about-row {
    display: flex;
    background-color: #1D4043;
    padding: 10px;
    margin: 10px;
    justify-content: center;
}

.about-content {
    padding: 10px;
    width: 33%;
    background-color: honeydew;
    margin: 10px;
   
}

.about-content p {
    font-size: 16px;
    margin-bottom: 10px;
}

.icon-a {
    text-align: center;
}

.icon-a img:hover {
    filter: hue-rotate(50deg);
}

#soundcloud {
    text-decoration: none;
    color: #E35C0B;
    font-weight: bold;
}
#soundcloud:hover {
    text-decoration: none;
    color: #0BE32D;
    font-weight: bold;
}
#instagram {
    text-decoration: none;
    color: #620BE3;
    font-weight: bold;
}
#instagram:hover {
    text-decoration: none;
    color: #0BE32D;
    font-weight: bold;
}
.icon-b {
    margin: auto 0;
}
.icon-b img {
    width: 100px;
}

.icon-b img:hover {
    filter: hue-rotate(50deg);
}



/* -------- hero Styles -------- */
#hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #5B2424;
}

.heroright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #696F20 ;
}

.heroright p {
    margin: 10px 5px;
}

.heroimg {
    margin: 20 0;
}

.heroimg img {
    width: 500px;
}
.heroheading {
    background-color: #829158;
    font-size: 35px;
    margin: 10px 10px;
    padding: 5px 5px;
    border-radius: 10px;
}
.herobutton {
    color: white;
    background-color: #5B2424;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
}

.herobutton:hover {
    color: black;
    background-color: #AEBA29;
}





/* -------- Links Styles -------- */
#links {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.link-box img:hover {
    filter:hue-rotate(50deg);
    cursor: pointer;
}

.link-box a {
    text-decoration: none;
    color: blue;
    font-size: 22px;;
}

.link-box img {
    width: 50%;
}

/* -------- Wordpress Sites Styles -------- */
#mysites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#wordpress-links {
    display: flex;
    justify-content: space-around;
}

.wordpresslink img {
    width: 100%;
}


/* -------- Github Pages List Styles -------- */
#gitpages {
    display: flex;
    justify-content: left;
    background-color: #587891;
    width: 85%;
    margin: 0 auto;
    margin-top: 90px;
}

#git-img-frame {
    background-color: rebeccapurple;
    text-align: left;
    margin: 10px;
}
#git-img-frame img {
    width: 400px;
}

#project-list {
    margin: 5px 20px;
}

#project-list h3 {
    margin: 20px 10px;
}
#project-list ul li a {
    list-style: none;
    text-decoration: underline;
    background-color: black;
    color: #3AEE00;
    margin-bottom: 8px;
}

#project-list ul li a:hover {
    color: #CD00EE;
}


/* -------- Mobile Styles -------- */
@media screen and (max-width: 863px){
    #hero {
        flex-direction: column;
    }
    #intro-box {
        flex-direction: column;
        background-image: none;
        background-color: #CDD2FF;
    }
    #intro-side {
       display: none;
    }
    .intro-png {
       margin: 0 auto;
    }
    #intro-top {
        display: block;
    }
    #intro-box .info {
        width: 100%;
        margin-bottom: 20px;
    }
    #special {
        margin: 0;
    }
    .about-row {
        flex-direction: column;
        justify-content: center;
    }
    .about-content {
        width: auto;
    }
    .icon-b {
        text-align: center;
    }
    #hero {
        margin-bottom: 20px;
    }
    .heroimg {
        width: 100%;
        text-align: center;
    }
    #atlantisbutton {
        margin-bottom: 10px;
    }
    .link-box {
        width: 33%;
    }
    .link-box img {
        width: 30%;
    }
    .link-box a {
        font-size: 80%;
    }
    #wordpress-links {
        flex-direction: column;
        width: 70%;
    }
}