/* core styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #6B7898;
}

.portfolio {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    justify-content: left;
    margin: 0 auto;
}


/* Header Styles */

header{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(89,139,184);
    background: linear-gradient(180deg, rgba(89,139,184,0.7253883670520231) 0%, rgba(80,146,165,0.6097814306358382) 21%, rgba(107,120,152,1) 100%);
}

header h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 38px;
    font-family: 'Lexend Tera', sans-serif;
}

header h2 {
    margin-right: 30px;
}

header .mission {
    font-size: 28px;
    margin: 50px 5px 100px 25px;
}


/* main styles */
main {
    margin: 0;
}
main article {
   margin: 20px;
}

a { font-size: 24px; }
a:link { color: black; }
a:visited { color: black; }
a:hover { color: #4C4EAC; }
a:active { color: #7D7EBB ; }

.linkbox {
 text-align: center;
}

.portrait-frame {
    margin: 0 0 80 0;
    
}
.portrait-frame img {
    width: 100%;
}

main p {
    font-size: 24px;
    margin: 18px 0;
    line-height: 35px;
}

/* introduction styles */
.intro-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.introduction {
    margin: 30px 10px 20px 10px ;
}

.introduction h2 {
    font-size: 40px;
}

.location {
    font-size: 18px;
    margin-left: 20px;
}
/* contact styles */

.contact-me {
    margin: 30px 0;
}
.contact-me h3 {
    text-align: center;
    font-size: 30px;
}
.contact-me nav {
    display: flex;
    justify-content: center;
}

.icon-frame {
    margin: 0 20px;
}

.icon-frame img {
    width: 100px;
}

.icon-frame img:hover {
    filter: hue-rotate(330deg);
    filter: brightness(1.5)
}

.contact-me a {
    text-align: center;
}

/* about me styles */
.aboutme {
    margin-top: 90px;
}

.aboutme section {
    margin: 30px 0;
}

.aboutme h2 {
    font-size: 40px;
    margin-bottom: 35px;
}

.aboutme h3 {
    font-size: 32px;
}

hr{ 
    height: 1px;
    color: #ACBEE8;
    background-color: #ACBEE8;
    border: none;
  }



footer {
   background-color: darkgray;
   padding: 10px;
}

/* project list styles */
.project-list {
    margin-top: 50px;
    margin-bottom: 100px;
}
.project-list h2 {
    font-size: 36px;;
}

.project-list ul {
    list-style-position: inside;
    margin-top: 30px;
    margin-bottom: 20px;
}

.project-list ul li {
    margin: 10px 0;
}

/* Responsive */

/* tablet */
@media only screen and (min-width: 638px){
    header h1 {
        text-align: left;
        margin-left: 90px
    }

    .portrait-frame {
        text-align: center;
    }
    .portrait-frame img {
        width: 70%;
    }
    .introduction {
        margin-top: 90px;
        margin-bottom: 20px;
    }
    .contact {
        margin-bottom: 80px;
    }
}

/* small screen */
@media only screen and (min-width: 800px) {
    .portfolio {
        max-width: 1200px;
    }
    header h2 {
        text-align: center;
    }
    .intro-container {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 60px;
    }
    .portrait-frame {
        width: 100%;
        text-align: center;
        margin: auto 0;
    }
   .portrait-frame img {
        width: 80%;
   }
   .introduction {
       width: 90%;
       margin: auto 30px;
       font-size: 30px;
   }
   .introduction h2 {
       margin-bottom: 20px;
   }
  
   .introduction p {
       margin-left: 10px;
       font-size: 70%;
   }
   .location {
    margin-bottom: 30px;
}
.contact-me {
    margin-bottom: 50px;
}
}

/* large screen */
@media only screen and (min-width: 1200px) {
    .intro-container {
        margin-bottom: 90px;
    }
    .portrait-frame img{
        width: 80%;
    }
    .introduction h2 {
        margin-bottom: 50px;
    }
    .location {
        margin-bottom: 50px;
    }
    .introduction p {
        font-size: 90%;
        margin-top: 0;
    }
    .contact-me {
        margin-bottom: 90px;
    }
}